
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
<form action="Verificar" method="post">
    <div>
        <div>
            <label for="usu">User</label>
            <input type="text" name="txtUser" id="usu" /><br />
            <label for="pass">Password</label>
            <input type="password" name="txtPassword" id="pass" /><br />
        </div>
        <div>
            <input type="submit" value="INGRESAR" />
        </div>
    </div>
</form>

